body {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 1.125rem;
  line-height: 1.2;
  background-color: rgba(253, 250, 251, 0.5);
  /**/
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  overflow-x: hidden;
}

/* RESET */

/* main {
  min-height: 100vh;
  position: relative;
  margin-inline: auto;
  overflow: hidden;
} */

img {
  height: 100%;
  max-width: 100%;
  display: inline-block;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title-main {
  display: inline-block;
  text-align: right;
  margin: 0;
  padding: .2rem .5rem;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: 1rem;
  /**/
  position: fixed;
  top: 1rem;
  right: 3rem;
  z-index: 110;
  /**/
  color: blue;
  border: 1px solid blue;
  background-color: gainsboro;
}

.svg-wrap {
  position: absolute;
  top: 2%;
  left: 2rem;
  bottom: 0;
  right: 2rem;
  z-index: 100;
}

.frame-line {

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards;
    
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

.canvas-wrap {
  position: absolute;
  inset: 0;
  border: 2px solid red;
  z-index: 10;
}

section {
  min-height: 90vh;
  position: relative;
  z-index: 100;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap {
  position: absolute;
  top: 250px;
  left: 0;
  padding: 1rem;
  z-index: 200;
}

.list__item {
  font-size: 1.5rem;
  padding: .5em;
  transform: rotate(-18deg);
}

.img-wrap {
  position: absolute;
  top: 15%;
  left: 25%;
  right: 10%;
  bottom: 10%;

  /* height: fit-content; */

}

.frame {
  position: absolute;
  transition-duration: .7s;
  animation-fill-mode: forwards;  
  border: 1px solid red;
}

.img {
  opacity: 0;
  height: 100%;
  width: 100%;
  transition-duration: .7s;
}

.frame::before {
  content: '';
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.img:hover {
  cursor: pointer;
  opacity: 1;
}

.img:active {
  transform: scale(1.5);
  animation: hoverImg .7s ease-in;
  background-size: cover;
  background-position: center;
}

.frame:first-of-type {
  top: 2rem;
  left: 20%;
  height: 10rem;
  width: 10rem;
}

.img:first-of-type{
  background-position: 10% 10%;
}

.frame:nth-of-type(2){
  top: 1rem;
  left: 85%;
  height: 6rem;
  width: 6rem;
}

.frame:nth-of-type(2) > .img{
  background-position: 20% 20%;
}

.frame:nth-of-type(3){
  top: 10rem;
  left: 65%;
  height: 9rem;
  width: 16rem;
}

.frame:nth-of-type(3) > .img{
  background-position: 30% 30%;
}

.frame:nth-of-type(4){
  top: 40%;
  left: 40%;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

.frame:nth-of-type(4) > .img{
  border-radius: 50%;
  background-position: 20% 20%;
}

.frame:nth-of-type(5) {
  top: 60%;
  left: 20%;
  height: 16rem;
  width: 9rem;
}

.frame:nth-of-type(5) > .img {
  background-position: 70% 70%;
}

.frame:last-of-type {
  top: 80%;
  left: 80%;
  height: 10rem;
  width: 10rem;
}

.img:last-of-type {
  top: 80%;
  left: 80%;
  height: 10rem;
  width: 10rem;
}

section.about {
  position: relative;
  top: 6rem;
}

.about-title {
  padding-inline-start: 1em;
}

section.gallery {
  border: 2px solid rgb(0, 255, 17);
  height: 100vh;
}