body {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 1.125rem;
  line-height: 1.2;
  background-color: rgba(253, 250, 251, 0.5);
  /**/
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  overflow-x: hidden;
}

/* RESET */

/* main {
  min-height: 100vh;
  position: relative;
  margin-inline: auto;
  overflow: hidden;
} */

img {
  height: 100%;
  max-width: 100%;
  display: inline-block;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title-main {
  text-align: right;
  margin: 0;
  padding: 0;
  font-style: italic;
  /**/
  position: fixed;
  top: 1rem;
  right: 3rem;
  z-index: 20;
}

.svg-wrap {
  position: absolute;
  top: 2%;
  left: 2rem;
  bottom: 0;
  right: 2rem;
  z-index: 100;
}

.frame-line {

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards;
    
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.canvas-wrap {
  position: absolute;
  inset: 0;
  border: 2px solid red;
  z-index: 10;
}

section {
  min-height: 90vh;
  position: relative;
  z-index: 100;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap {
  position: absolute;
  top: 250px;
  left: 0;
  padding: 1rem;
  z-index: 200;
}

.list__item {
  padding: .5em;
  transform: rotate(-18deg);
}

.img-wrap {
  height: fit-content;
  padding: 1em;
  border: 1px solid blue;
}

section.about {
  padding-top: 3.8em;
  position: relative;

}

.about-title {
  padding-inline-start: 1em;
}

section.gallery {
  border: 2px solid rgb(0, 255, 17);
  height: 100vh;
}